/* -------------------- Source: https://codepen.io/ericrasch/pen/zjDBx */
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 328px;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 300px;
}

table#weather {
   width: 200px;
   color: #fff;
   border: 1px solid black;
   font-weight: bold;
}


table#weather #weatherImg {
	width: 50px;
	height: 50px;
}

select option {
   color: #fff;
   background-color: #3b8ec2;
}

html, body {
	margin: 0;
	height: 100%;
}

#map {
	height: 100vh;
	width: 100vw;
	position: relative;
}

optionsTable {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

/* -------------------- Colors: Background */
.blue    { background-color: #3b8ec2; }

/* -------------------- Colors: Text */
.blue select    { color: #fff; }

.leaflet-popup-content-wrapper {
  background-color: #3b8ec2
}